
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    /* border: 1px solid red; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #pc {
        display: none
    }

    .container {
        height: auto;
        /* border-bottom: 1px solid red; */
    }

    nav {
        z-index: 10;
        display: flex;
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: white;
        align-items: center;
        justify-content: space-between;
    }

    nav .img {
        display: block;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: auto;
    }

    nav .img img {
        height: 40px;
        width: 40px;
    }

    nav .search {
        width: 70%;
        display: flex;
        border: 1px solid rgb(173, 173, 173);
        height: 30px;
        border-radius: 5px;
        justify-content: space-between;
        align-items: center;
    }

    nav .search input {
        border: none;
        padding-left: 10px;
        outline: none;
    }

    nav .search img {
        width: 25px;
        height: 25px;
        /* padding-right: 5px; */
    }

    nav .menu {
        width: 10%;
        display: flex;
        justify-content: center;
        /* text-align: center; */
        /* margin-right: 20px; */
    }

    nav .menu img {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    button {
        background-color: white;
        border: none;
    }

    #button {
        display: block;
    }

    #button1 {
        display: none;
    }


    #menu1 {
        z-index: 10;
        margin-top: 60px;
        position: fixed;
        height: 300px;
        width: 100%;
        background-color: white;
        height: auto;

    }

    #menu1 li {
        line-height: 50px;
        list-style: none;
        width: 100%;
        background-size: 15px;
        background-position: 96%;
    }

    #menu1 li:hover {

       
        background-size: 15px;
        background-position: 96% 20px;
    }

    #menu1 li div {
        display: none;
        background-color: whitesmoke;
    }

    #menu1 li:hover div {
        display: block;
        transform: 0.5s;
    }

    #menu1 li a {
        display: flex;
        height: 100%;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(94, 94, 94);
        text-decoration: none;
        border-top: 1px solid gray;
        padding-left: 7px;
        width: 100%;
    }

    header img:last-child {
        z-index: 0;
    }

    header #banner1 {
        display: none;
    }

    header #banner2 {
        display: block;
    }

    header {
        /* z-index: 0px; */
        padding-top: 60px;
        height: auto;
        /* border: 1px solid red; */
    }

    header img {
        width: 100%;
        /* margin-right: 30%; */
    }

    header div {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        top: 160px;
    }

    header div img {
        width: 40%;
        /* z-index: 0; */

    }

    .text {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-right: 20px;
    }

    .text h1 {
        font-size: 14px;
        color: blue;
    }

    .text p {
        margin-top: 10px;
        font-weight: 600;
        color: rgb(75, 75, 75);
    }

    .box1 {
        border-radius: 25px;
        border: 1px solid blue;
        margin-left: 20px;
        margin-right: 20px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        margin-bottom: 20px;
    }

    article {
        padding-bottom: 20px;
    }

    article span {
        border-radius: 25px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }


    .box1 div {
        width: 40%;
    }

    .box1 div h1 {
        margin-bottom: 5px;
        font-size: 17px;
        color: blue;
    }

    .box1 div p {
        color: gray;
        font-size: 13px;
    }

    .box1#box1 {
        
        background-size: 20%;
        background-repeat: no-repeat;
        background-position-x: 10%;
    }

    .box1#box2 {
       
        background-size: 20%;
        background-repeat: no-repeat;
        background-position-x: 10%;
    }

    .box1#box3 {
        
        background-size: 20%;
        background-repeat: no-repeat;
        background-position-x: 10%;
    }

    article a:hover.box1 {
        margin-left: 10px;
        margin-right: 10px;
        height: 125px;
    }

    .new {
        width: 100%;
        display: flex;
        height: auto;
        justify-content: space-between;
        /* margin-left: 20px; */
        /* margin-right: 20px; */
        margin-bottom: 20px;

    }

    .new a {
        width: 50%;
    }


    .new1 {
        height: 200px;
        /* width: 80%; */
        border: 1px solid rgb(172, 172, 172);
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 20px;
        margin-right: 20px;

    }

    .new1 h1 {

        font-size: 13px;
        height: 80px;
        margin: 10px 10px 0px 10px;
        color: rgb(75, 75, 75);
    }

    .new1 p {
        margin-left: 10px;
        font-size: 13px;
        color: gray;

    }


    #new1 div {
        background: url("h3.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 80px;
        border-radius: 20px 20px 0px 0px;
    }

    #new2 div {
        background: url("h4.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 80px;
        border-radius: 20px 20px 0px 0px;
    }

    #new3 div {
        background: url("h5.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 80px;
        border-radius: 20px 20px 0px 0px;
    }

    #new4 div {
        background: url("h6.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 80px;
        border-radius: 20px 20px 0px 0px;
    }

    footer {
        height: 100px;
        background-color: whitesmoke;
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: center;
        align-items: center;
    }

    footer img {
        width: 40px;
        height: 40px;
    }

    footer div {
        margin-left: 10px;
    }

    footer div h1 {
        font-size: 17px;
        color: black;
    }

    footer div p {
        font-size: 11px;
    }

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #banner2 {
        display: none;
    }

    #mobile {
        display: none;
    }

    .container {
        display: block;
    }

    nav {
        z-index: 10;
        display: flex;
        position: fixed;
        width: 100%;
        height: 70px;
        background-color: white;
        align-items: center;
        justify-content: center;
        top: 0;
    }

    nav .img {
        display: block;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: auto;
    }

    .img #banner1 {
        height: 40px;
        width: 40px;
    }

    nav .img img {
        height: 40px;
        width: 40px;
    }

    nav #pc {
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        width: 29%;
        justify-content: space-around;
        margin-right: 2%;
        margin-left: 2%;
        /* border-bottom: 1px solid gray; */
    }

    nav #pc li {
        list-style: none;
        width: 30%;
        text-align: center;
        /* height: 100%; */
        /* border-left: 1px solid gray; */

    }

    nav #pc li:hover a {
        /* list-style: armenian; */
        color: blue;
    }

    nav #pc li:hover div a {
        color: rgb(75, 75, 75);
    }

    nav #pc li a {
        height: 100%;
        text-decoration: none;
        font-size: 15px;
        color: rgb(94, 94, 94);
        font-weight: bolder;
        display: flex;
        align-items: center;
        justify-content: center;
        /* line-height: 4px; */
    }

    nav #pc li div a:hover {
        background-color: whitesmoke;
        border-radius: 5px;
    }

    nav #pc li div {
        /* float: left; */
        width: 100%;
        position: relative;
        /* top: 8px; */
        background-color: white;
        /* border-top: 1px solid gray; */
        display: none;
        border-radius: 0px 0px 5px 5px;
        padding-top: 6px;
    }

    nav #pc li:hover div {
        display: block;
    }

    nav .search {
        width: 25%;
        display: flex;
        border: 1px solid rgb(173, 173, 173);
        height: 40%;
        border-radius: 5px;
        justify-content: space-between;
        align-items: center;
    }

    nav .search input {
        border: none;
        padding-left: 10px;
        outline: none;
        height: auto;
        font-size: 13px;
        /* text-align: center; */
        display: flex;
        align-items: center;

    }

    nav .search img {
        width: 17px;
        height: 17px;
        padding-right: 8px;
        /* font-size: 1px; */
    }

    div .menu {
        display: none;
    }

    #button {
        display: none;
    }

    #button1 {
        display: none;
    }

    header {
        padding-top: 70px;
    }

    article {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        padding-bottom: 20px;
    }

    .text {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .text h1 {
        font-size: 25px;
        color:blue;
    }

    .text p {
        margin-top: 15px;
        font-weight: 600;
        color: rgb(75, 75, 75);
    }

    article .box {
        display: flex;
        justify-content: space-between;
        /* height: 200px; */
    }

    .box1 {
        border-radius: 25px;
        border: 1px solid blue;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        width: 30%;
    }

    article a:hover.box1 {
        /* height: 150px; */
        box-shadow: 5px 5px 5px 1px rgb(190, 190, 190);
    }


    article span {
        border-radius: 25px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }


    .box1 div {
        width: 40%;
    }

    .box1 div h1 {
        margin-bottom: 5px;
        font-size: 19px;
        color:blue;
        width: 100px;
    }

    .box1 div p {
        color: gray;
        font-size: 15px;
        width: 200px;
    }

    .tintuc {
        display: flex;
        width: 100%;
    }

    .new {
        /* width: 100%; */
        /* display: flex; */
        height: auto;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;

    }

    .new a {
        /* width: 20%; */
        width: 30%;

    }


    .new1 {
        height: 200px;
        /* width: 80%; */
        border: 1px solid rgb(172, 172, 172);
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        /* width: 30%; */
        width: 100%;

    }

    .new1 h1 {

        font-size: 13px;
        height: 60px;
        margin: 10px 10px 0px 10px;
        color: rgb(75, 75, 75);
    }

    .new1 p {
        margin-left: 10px;
        font-size: 13px;
        color: gray;

    }


    #new1 div {
        background: url("h3.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100px;
        border-radius: 20px 20px 0px 0px;
    }

    #new2 div {
        background: url("h4.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100px;
        border-radius: 20px 20px 0px 0px;
    }

    #new3 div {
        background: url("h5.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100px;
        border-radius: 20px 20px 0px 0px;
    }


    footer {
        height: 100px;
        background-color: whitesmoke;
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: center;
        align-items: center;
    }

    footer img {
        width: 40px;
        height: 40px;
    }

    footer div {
        margin-left: 10px;
    }

    footer div h1 {
        font-size: 17px;
        color: black;
    }

    footer div p {
        font-size: 11px;
    }





    nav{
        justify-content: space-between;
        width: 100%;
    }
    nav .img{
        margin-left: 20px;
    }
    nav #pc{
        width: 50%;
    }

    nav #pc li a {
        font-size: 12px;
    }
    nav .search{
        margin-right: 20px;
        width: 30%;
    }
    nav .search input{
        width: 80%;
    }
    nav #pc li div{
        padding-top: 9px;
    }
    article {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    .box{
        /* height: 0px; */
        margin: 0px;
        padding: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .box1{
        height: 120px;
    }
    .box1 div p {
        color: gray;
        font-size: 10px;
        width: 120px;
    }
    article .box {
        display: flex;
        justify-content: space-between;
        /* height: 200px; */
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    nav #pc li a {
        font-size: 15px;
    }
    nav #pc li div{
        padding-top: 7px;
    }
    .box1 div p {
        color: gray;
        font-size: 13px;
        width: 150px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    *{
        #banner2 {
            display: none;
        }
    
        #mobile {
            display: none;
        }
    
        .container {
            display: block;
        }
    
        nav {
            z-index: 10;
            display: flex;
            position: fixed;
            width: 100%;
            height: 70px;
            background-color: white;
            align-items: center;
            justify-content: center;
            top: 0;
        }
    
        nav .img {
            display: block;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: auto;
        }
    
        .img #banner1 {
            height: 40px;
            width: 40px;
        }
    
        nav .img img {
            height: 40px;
            width: 40px;
        }
    
        nav #pc {
            display: flex;
            font-family: Arial, Helvetica, sans-serif;
            width: 29%;
            justify-content: space-around;
            margin-right: 2%;
            margin-left: 2%;
            /* border-bottom: 1px solid gray; */
        }
    
        nav #pc li {
            list-style: none;
            width: 30%;
            text-align: center;
            /* height: 100%; */
            /* border-left: 1px solid gray; */
    
        }
    
        nav #pc li:hover a {
            /* list-style: armenian; */
            color: blue;
        }
    
        nav #pc li:hover div a {
            color: rgb(75, 75, 75);
        }
    
        nav #pc li a {
            height: 100%;
            text-decoration: none;
            font-size: 15px;
            color: rgb(94, 94, 94);
            font-weight: bolder;
            display: flex;
            align-items: center;
            justify-content: center;
            /* line-height: 4px; */
        }
    
        nav #pc li div a:hover {
            background-color: whitesmoke;
            border-radius: 5px;
        }
    
        nav #pc li div {
            /* float: left; */
            width: 100%;
            position: relative;
            /* top: 8px; */
            background-color: white;
            /* border-top: 1px solid gray; */
            display: none;
            border-radius: 0px 0px 5px 5px;
            padding-top: 6px;
        }
    
        nav #pc li:hover div {
            display: block;
        }
    
        nav .search {
            width: 25%;
            display: flex;
            border: 1px solid rgb(173, 173, 173);
            height: 40%;
            border-radius: 5px;
            justify-content: space-between;
            align-items: center;
        }
    
        nav .search input {
            border: none;
            padding-left: 10px;
            outline: none;
            height: auto;
            font-size: 13px;
            /* text-align: center; */
            display: flex;
            align-items: center;
    
        }
    
        nav .search img {
            width: 17px;
            height: 17px;
            padding-right: 8px;
            /* font-size: 1px; */
        }
    
        div .menu {
            display: none;
        }
    
        #button {
            display: none;
        }
    
        #button1 {
            display: none;
        }
    
        header {
            padding-top: 70px;
        }
    
        article {
            width: 60%;
            margin-left: 20%;
            margin-right: 20%;
            padding-bottom: 20px;
        }
    
        .text {
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 50px;
            margin-bottom: 30px;
        }
    
        .text h1 {
            font-size: 25px;
            color: blue;
        }
    
        .text p {
            margin-top: 15px;
            font-weight: 600;
            color: rgb(75, 75, 75);
        }
    
        article .box {
            display: flex;
            justify-content: space-between;
            /* height: 200px; */
        }
    
        .box1 {
            border-radius: 25px;
            border: 1px solid blue;
            height: 140px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            width: 30%;
        }
    
        article a:hover.box1 {
            /* height: 150px; */
            box-shadow: 5px 5px 5px 1px rgb(190, 190, 190);
        }
    
    
        article span {
            border-radius: 25px;
            height: 110px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    
    
        .box1 div {
            width: 40%;
        }
    
        .box1 div h1 {
            margin-bottom: 5px;
            font-size: 19px;
            color: blue;
            width: 100px;
        }
    
        .box1 div p {
            color: gray;
            font-size: 15px;
            width: 200px;
        }
    
    
        .tintuc {
            display: flex;
            width: 100%;
        }
    
        .new {
            height: auto;
            margin-bottom: 20px;
            width: 100%;
            display: flex;
            justify-content: space-between;
    
        }
    
        .new a {
            width: 30%;
    
        }
    
    
        .new1 {
            height: 200px;
           border: 1px solid rgb(172, 172, 172);
            border-radius: 20px;
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
    
        }
    
        .new1 h1 {
    
            font-size: 13px;
            height: 60px;
            margin: 10px 10px 0px 10px;
            color: rgb(75, 75, 75);
        }
    
        .new1 p {
            margin-left: 10px;
            font-size: 13px;
            color: gray;
    
        }
    
    
        #new1 div {
            background: url("h3.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100px;
            border-radius: 20px 20px 0px 0px;
        }
    
        #new2 div {
            background: url("h4.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100px;
            border-radius: 20px 20px 0px 0px;
        }
    
        #new3 div {
            background: url("h5.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100px;
            border-radius: 20px 20px 0px 0px;
        }
    
    
        footer {
            height: 100px;
            background-color: whitesmoke;
            display: flex;
            font-family: Arial, Helvetica, sans-serif;
            justify-content: center;
            align-items: center;
        }
    
        footer img {
            width: 40px;
            height: 40px;
        }
    
        footer div {
            margin-left: 10px;
        }
    
        footer div h1 {
            font-size: 17px;
            color: black;
        }
    
        footer div p {
            font-size: 11px;
        }

        .box1 div p {
            color: gray;
            font-size: 10px;
            width: 120px;
        }
    
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 
    .box1 div p {
        color: gray;
        font-size: 14px;
        width: 150%;
    }
}
